.message-list {
    width: 100%;
    height: 450px;
    overflow-y: auto;
    padding: 20px;
}

.message-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.message-list ul li {
    margin-bottom: 10px;
}
