.message-list {
    width: 100%;
    height: 450px;
    overflow-y: auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #4a76a8;
    border-bottom: none;
    border-left: none;
    border-top-right-radius: 3px;
}

.message-list__name {
    color: #4a76a8;
    font-weight: bold;
}


.message-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.message-list ul li {
    margin-bottom: 10px;
    animation: show .5s ease-in;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
