.sidebar {
    width: 400px;
    border-right: 1px solid #000;
    height: 500px;
    padding: 20px;
}

.sidebar-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-list li {
    margin-bottom: 15px;
}
